h1 {
  font-family: Times;
  font-style: Italic;
  color: Pink
}
li {
  color: grey;
  font-size:13x;
  font-family:sans-serif;
}
h4 {
  font-family: Times;
  font-size: 13x;
  margin-bottom: 0;
  font-style: Bold;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  font-size: 10px;
  font-style: italic;
}